#popover-cart {
  border: unset;
  border-radius: var(--radius-8);
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  max-width: 23.625rem;
  min-height: 15rem;
  min-width: 20rem;
  padding: 2rem;
  position-area: bottom span-left;
  top: 1rem;

  @media (max-width: 450px) {
    margin-inline: 1rem;
    padding: 1rem;
  }
}

@scope (.cart) {
  .container-label-remove {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  .label-cart {
    font: var(--text-preset-6);
    letter-spacing: 1.29px;
    outline: unset;
    text-transform: uppercase;
    width: fit-content;
  }

  button.remove {
    color: hsl(var(--color-grey-1));
    font: var(--text-preset-9);
    text-decoration: underline;
    transition: color var(--transition-duration-1);

    &:hover {
      color: hsl(0, 0%, 75%);
    }
  }

  .items {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    margin: unset;
    padding: unset;
  }

  .item {
    align-items: center;
    display: flex;
    font: var(--text-preset-9);
    font-weight: 700;
    gap: 1rem;

    .product {
      aspect-ratio: 1;
      border-radius: var(--radius-8);
      height: 4rem;
    }

    .details {
      align-items: start;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
    }

    .name {
      line-height: 1.2;
      text-transform: uppercase;
    }

    .price {
      opacity: .5;
    }

    .quantity {
      margin-left: auto;
    }
  }

  .total {
    align-items: center;
    color: hsl(var(--color-grey-1));
    display: flex;
    font: var(--text-preset-9);
    justify-content: space-between;
    margin: unset;

    & strong {
      color: hsl(var(--color-black))
    }
  }

  a.checkout {
    width: 100%;
  }

  p.empty-cart {
    margin: auto;
    opacity: .6;
    text-align: center;
  }
}