.section-hero {
  align-content: center;
  background:
    url("../../public/images/home/desktop/image-hero.jpg") right calc((75vw - var(--max-page-width)) / 2) top -5rem / auto 112% no-repeat,
    hsl(var(--color-black));
  color: hsl(var(--color-white));
  min-height: 35rem;
  padding: 2rem max(var(--min-page-padding), calc((100vw - var(--max-page-width)) / 2));

  @media (max-width: 768px) {
    background:
      url("../../public/images/home/tablet/image-header.jpg") center / cover,
      hsl(var(--color-black));
    justify-content: center;
    text-align: center;

    & a {
      margin-inline: auto;
    }
  }

  @media (max-width: 480px) {
    background:
      url("../../public/images/home/mobile/image-header.jpg") center / cover,
      hsl(var(--color-black));
  }
}

.section-zx9-speaker {
  background: hsl(var(--color-orange-dark));
  border-radius: var(--radius-8);
  box-sizing: border-box;
  color: hsl(var(--color-white));
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: auto;
  max-width: var(--max-page-width);
  overflow: clip;
  padding: 2.5rem 8rem;

  div:has(> &) {
    padding-inline: var(--min-page-padding);
  }
  
  @media (max-width: 1000px) {
    flex-flow: column;
    max-width: 689px;
  }

  @media (max-width: 650px) {
    max-width: 314px;
  }
}

.section-zx7-speaker {
  border-radius: var(--radius-8);
  box-sizing: border-box;
  color: hsl(var(--color-black));
  margin: 3rem auto;
  max-width: var(--max-page-width);
  overflow: clip;
  padding: 6rem;
  position: relative;

  div:has(> &) {
    padding-inline: var(--min-page-padding);
  }

  @media (max-width: 1000px) {
    max-width: 689px;
  }

  @media (max-width: 650px) {
    max-width: 314px;
    padding-inline: 1rem;
  }
}

.section-yx1-earphones {
  display: flex;
  gap: 2rem;
  margin: 3rem auto;
  max-width: var(--max-page-width);

  div:has(> &) {
    padding-inline: var(--min-page-padding);
  }

  > * {
    flex: 1;
  }

  @media (max-width: 1000px) {
    max-width: 689px;
  }

  @media (max-width: 650px) {
    flex-flow: column;
    max-width: 314px;
  }
}

@scope (.section-hero) {
  h1 {
    font: var(--text-preset-1);
    letter-spacing: 2px;
    margin-block: 2rem;
    text-transform: uppercase;

    @media (max-width: 480px) {
      font: var(--text-preset-3);
    }
  }

  .new {
    font: var(--text-preset-7);
    letter-spacing: 10px;
    opacity: .5;
    text-transform: uppercase;
  }

  .description {
    margin: 2rem 0;
    max-width: 23rem;
    opacity: .7;

    @media (max-width: 768px) {
      margin-inline: auto;
    }
  }

  .container-hero-content {
    max-width: 25rem;

    @media (max-width: 768px) {
      margin-inline: auto;
    }
  }
}

@scope (.section-zx9-speaker) {
  picture {
    display: contents;
  }
  
  img {
    height: 30rem;
    transform: translateY(11%);

    @media (max-width: 1000px) {
      align-self: center;
      height: unset;
      transform: unset;
      width: 200px;
    }

    @media (max-width: 650px) {
      height: 10rem;
      width: auto;
    }
  }
  
  h2 {
    font: var(--text-preset-1);
    letter-spacing: 2px;
    margin: unset;
    text-transform: uppercase;

    @media (max-width: 650px) {
      font: var(--text-preset-2);
    }
  }

  p {
    margin-block: 2.5rem;
    opacity: .75;
  }

  .container-content {
    align-content: center;
    justify-self: end;
    max-width: 20rem;

    @media (max-width: 1000px) {
      align-self: center;
      text-align: center;

      & a {
        margin-inline: auto;
      }
    }
  }
}

@scope (.section-zx7-speaker) {
  h2 {
    font: var(--text-preset-4);
    letter-spacing: 2px;
    margin: unset;
    margin-bottom: 2rem;
    max-width: max-content;
    text-transform: uppercase;
  }

  img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    @media (max-width: 650px) {
      height: 100%;
    }
  }
}

@scope (.section-yx1-earphones) {
  h2 {
    font: var(--text-preset-4);
    letter-spacing: 2px;
    margin: unset;
    margin-bottom: 2rem;
    max-width: max-content;
    text-transform: uppercase;
  }

  img {
    border-radius: var(--radius-8);
    width: 50%;

    @media (max-width: 650px) {
      width: unset;
    }
  }

  .container-content {
    background: hsl(var(--color-grey-3));
    border-radius: var(--radius-8);
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-inline: 6rem;

    @media (max-width: 1000px) {
      padding-inline: 2rem;
    }

    @media (max-width: 650px) {
      padding: 2rem;
    }
  }
}