.page-header {
  background: hsl(var(--color-black));
  padding: 0 max(var(--min-page-padding), calc((100vw - var(--max-page-width)) / 2));
}

@scope (.page-header) {
  .container-content {
    align-items: center;
    border-bottom: 1px solid hsl(0, 0%, 20%);
    box-sizing: border-box;
    display: flex;
    height: 6rem;
    justify-content: space-between;
    padding: 1rem 0;
  }
  
  button.cart {
    color: hsl(var(--color-white));
    display: block;
    transition: color var(--transition-duration-1);

    &:hover {
      color: hsl(var(--color-orange-dark));
    }
  }

  button.menu {
    align-items: center;
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
      display: none;
    }
  }

  nav.desktop-nav {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .mobile-nav {
    flex-flow: column;
    gap: 3.5rem;
    margin: unset;
    padding: 2.5rem 0;

    [popover]:has(> &) {
      background: hsl(var(--color-white));
      border: unset;
      box-sizing: border-box;
      height: calc(100% - 6rem);
      margin: unset;
      max-width: 100%;
      overflow: auto;
      padding: 1rem;
      top: 6rem;
      transform: translateX(-100%);
      transition: all var(--transition-duration-1) allow-discrete;

      &:popover-open {
        transform: translateX(0%);

        @starting-style {
          transform: translateX(-100%);
        }
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    & a {
      padding: 1rem;
    }

    & img {
      height: 6rem;
      margin-top: -4.5rem;
    }

    & span.name {
      font: var(--text-preset-7);
      font-weight: 700;
    }
  }
}