.page-footer {
  background: hsl(var(--color-black));
  color: hsl(var(--color-white));
  display: grid;
  font: var(--text-preset-9);
  gap: 1rem;
  padding: 4rem max(var(--min-page-padding), calc((100vw - var(--max-page-width)) / 2)) 2rem;
}

@scope (.page-footer) {
  p.description {
    opacity: .5;
  }

  p.copyright {
    font-weight: 700;
    opacity: .5;
  }

  nav.social-media {
    margin-left: auto;

    & ul {
      gap: 1rem;
    }
  }

  .container-logo-site {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-flow: column;

      & ul {
        align-items: center;
        flex-flow: column;
      }
    }
  }

  .container-text-social {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 768px) {
      grid-template-columns: unset;
      grid-template-rows: auto auto;

      & nav.social-media {
        justify-self: center;
        margin-left: unset;
      }
    }
  }

  .container-paragraphs {
    display: grid;
    gap: 1rem;
  }
}