@scope (.page-products) {
  
  .header-products {
    background: hsl(var(--color-black));
    padding: 5rem;
    
    & h1 {
      color: hsl(var(--color-white));
      font: var(--text-preset-2);
      justify-self: center;
      margin: unset;
      text-align: center;
      text-transform: uppercase;
    }
  }
  
  section {
    align-items: center;
    display: flex;
    gap: 6rem;
    margin: 8rem auto;
    padding: 0 max(var(--min-page-padding), calc((100vw - var(--max-page-width)) / 2));

    @media (max-width: 1000px) {
      & > * {
        flex: 1;
      }
    }

    @media (max-width: 860px) {
      flex-flow: column-reverse;
      gap: 3rem;
      max-width: 600px;
      text-align: center;

      & a {
        margin-inline: auto;
      }
    }

    @media (min-width: 860px) {
      &:nth-child(even) {
        flex-flow: row-reverse;
      }
    }
    
    & h2 {
      font: var(--text-preset-2);
      margin-block: 1rem 2rem;
      text-transform: uppercase;
    }
     
    & p:not(.new) {
      margin-block: 2.5rem;
      opacity: .6;
    }
    
    & img {
      border-radius: var(--radius-8);
      max-width: 50%;
    }
  }
}